// Main Colours
$white: #f7f2e1;
// $white: rgb(255, 253, 248);
$dark-grey: #4a4a4a;
$salmon: #ff795f;
$blue: #4990e2;

// Shades
$white-shade-1: darken($white, 20%);
$white-shade-2: darken($white, 40%);
$white-shade-super-light: darken($white, 10%);
$dark-grey-shade-1: darken($dark-grey, 20%);
$dark-grey-shade-2: darken($dark-grey, 40%);
$salmon-shade-1: darken($salmon, 20%);
$salmon-shade-2: darken($salmon, 40%);
$blue-shade-1: darken($blue, 20%);
$blue-shade-2: darken($blue, 40%);

// Tints
$white-tint-1: lighten($white, 10%);
$white-tint-2: lighten($white, 20%);
$white-tint-super-light-1: lighten($white, 4%); // #fbf9f1
$white-tint-super-light-2: lighten($white, 7%); // #fffefd
$dark-grey-tint-1: lighten($dark-grey, 20%);
$dark-grey-tint-2: lighten($dark-grey, 40%);
$salmon-tint-1: lighten($salmon, 20%);
$salmon-tint-2: lighten($salmon, 40%);
$blue-tint-1: lighten($blue, 20%);
$blue-tint-2: lighten($blue, 40%);
