.styleguide {
  .main {
    margin-top: 0;
  }
}
.styleguide-container {
  @include pad();
  background-color: white;


  h1.title {
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
    padding-top: 100px;
    @include media ($medium-screen) {
      font-size: 3rem;
      
    }
  }
  
  .sub-title {
    text-align: center;
  }

  h2.actual {
    text-align: center;
    color: $dark-grey-shade-2;
    margin-bottom: $step5;
    margin-top: $step5;
    padding-top: $step2;
    border: solid 2px $dark-grey-shade-1;
  }
  h3.actual {
    color: $dark-grey;
    border-bottom: solid 1px $dark-grey-tint-2;
    margin-bottom: $step4;
    margin-top: $step5;
  }
  section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

  }

  section.intro {
    text-align: center;
  }

  section.typography {
    @include outer-container();
    @include pad();

    .regular-headings, .box-headings {
      // @include span-columns(4);
    }
    .regular-headings {
      // @include shift(1);
      @include row();
    }
    .box-headings {
      // @include shift(2);
      @include row();
    }
    .copy {
      @include row();
      // @include span-columns(6);
      // @include shift(3);
    }
    .other-copy {
      @include row();
      // @include span-columns(12);
    }
    @include media ($medium-screen) {
      .regular-headings, .box-headings {
        // @include span-columns(4);
      }
      .regular-headings {
        @include row();
        @include span-columns(8);
        @include shift(2);
      }
      .box-headings {
        @include row();
        @include span-columns(8);
        @include shift(2);
      }
      .copy {
        @include row();
        @include span-columns(8);
        @include shift(2);
      }
      .other-copy {
        @include row();
        @include span-columns(8);
        @include shift(2);
      }
    }
    @include media ($large-screen) {
      .regular-headings, .box-headings {
        @include span-columns(4);
      }
      .regular-headings {
        @include shift(1);
      }
      .box-headings {
        @include shift(2);
      }
      .copy {
        @include row();
        @include span-columns(6);
        @include shift(3);
      }
      .other-copy {
        @include span-columns(8);
        @include shift(2);
      }
    }
  }

  section.colours {
    @include outer-container();
    @include pad();
    ul.palette {
      @include row();

      li.colour {
        // @include span-columns(6);
        // &:nth-of-type(2) {
        //   margin-right: 0;
        // }
        // @include block-grid(6);
        @include grid-item-columns(6);
        @include pad();

        .swatch {
          height: 100px;
        }

        &.c1 {
          .swatch {
            background-color: $dark-grey;
          }
        }
        &.c2 {
          .swatch {
            background-color: $salmon;
          }
        }
        &.c3 {
          .swatch {
            background-color: $white;
          }
        }
        &.c4 {
          .swatch {
            background-color: $blue;
          }
        }
        @include media($medium-screen) {
          // @include block-grid(4);
          // @include grid-item-columns(4);
        }
        @include media ($large-screen) {
          @include grid-item-columns(3);
        }
      }
    }
  }

  section.components {
    @include outer-container();
    @include pad();

    ul.drinks {
      
      li.drink {
        @include media ($medium-screen) {
          @include grid-item-columns(6);
        }
        @include media ($large-screen) {
          @include grid-item-columns(4);
        }
      }
    }

    ul.events {

      li.event {
        @include media ($medium-screen) {
          @include grid-item-columns(6);
          @include pad();
        }
        @include media ($large-screen) {
          @include grid-item-columns(4);
          @include pad();
        }
      }
    }
  }
}