body {
  background: none;
}

.styleguide {
  background: none;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2.actual {
    text-align: center;
    color: $dark-grey-shade-2;
    margin-bottom: $step5;
    margin-top: $step5;
    border-bottom: solid 1px $dark-grey-tint-1;
  }
  h3.actual {
    color: $dark-grey;
    border-bottom: solid 1px $dark-grey-tint-1;
    margin-bottom: $step4;
    margin-top: $step5;
  }

  section.typography {
    @include grid-container;
    // @include grid-collapse;

    .regular-headings, .box-headings {
      @include grid-column(6);
    }
    .copy {
      @include grid-column(6);
      @include grid-push(3);
    }
  }
}