@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400|Roboto:300i,400i|Roboto+Condensed:400,700');
@import url('//fast.fonts.net/cssapi/1e9b7e06-16c7-4384-8f76-8b995d987481.css');

// Font Stacks
$sans-font: 'DIN Next W01 Medium', sans-serif; // Fonts.com
$serif-font: 'Roboto Slab', serif; // Google Font
$italic-font: 'Roboto', sans-serif; // Google Font

$root-size: 18px;
$line-height: 1.5;

// Spacing for Margins & Padding
$step1: 0.25rem;
$step2: 0.5rem;
$step3: 1rem;
$step4: 2rem;
$step5: 4rem;
$step6: 8rem;


// Type System
body {
  color: $dark-grey;
  font-family: $serif-font;
  font-size: $root-size;
  font-weight: normal;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $sans-font;
  color: $blue-shade-2;
  text-transform: uppercase;
  line-height: $line-height;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;

  &.box {
    color: $white-tint-1;
    background-color: $blue-shade-2;
    display: inline-block;
    padding: 0.8em 1.1em 0.6em;
  }
}
.heading-box {
  margin-bottom: $step2;
}
h1, .h1 {
  font-size: 2rem;
}
h2, .h2 {
  font-size: 1.5rem;
}
h3, .h3 {
  font-size: 1.25rem;
}
h4, .h4 {
  font-size: 1rem;
}
h5, .h5 {
  font-size: 0.875rem;
}
h6, .h6 {
  font-size: 0.75rem;
}

p {
  margin-top: $step3;
  margin-bottom: $step3;
  line-height: $line-height;
  font-weight: 300;

  &.interface {
    font-size: 0.875rem;
    font-weight: 400;
    margin: $step1 0;
  }
}

em {
  font-family: $italic-font;
  font-weight: 300;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $salmon;
  }
}

a.standalone {
  color: $salmon;
  &:hover {
    color: $blue;
  }
}
ul {
  list-style: none;
  padding-left: 0;
}

blockquote.pullquote {
  font-family: $italic-font;
  font-weight: 300;
  quotes: "“" "”" "‘" "’";

  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

.tagline {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.25;

  strong {
    font-weight: 300;
  }

  @include media ($medium-screen) {
    font-size: 3em;

  }
}





