@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "variables";
@import "colour";
@import "typography";
@import "grid";
@import "mixins";
@import "top-bar";
@import "components";
@import "footer";
// @import "styleguide";

body {
  background-color: $white;
  margin: 0;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 2rem;
}

section.intro {
  @include outer-container();
  @include pad();
  padding-top: 20px;
  margin-top: $top-bar-height;
  position: relative;
  height: 500px;

  .tagline {
    @include vertical-align();
    position: absolute;
    width: 52%;
    display: inline-block;
    z-index: 1;
  }

  .image {
    @include vertical-align();
    width: 40%;
    display: inline-block;
    position: absolute;
    right: 5em;
    z-index: -1;
  }
}

section.what {
  @include outer-container();
  @include pad();
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  .heading-box {
    text-align: center;
  }
  ul {
    li {
      @include row();
      margin-bottom: 50px;
      &:first-of-type {
        margin-top: 50px;
      }
      img {
        @include span-columns(12);
        // @include shift(12);
        margin-bottom: $step4;
      }
      .text {
        @include span-columns(12);
        h3 {
          color: $salmon;
        }
        .subhead {
          color: $blue-shade-2;
        }
      }
    }
  }
  .section-end {
    text-align: center;
  }

  @include media ($medium-screen) {
    ul.block-list {
      li {
        img {
          @include span-columns(5);
          // @include shift(0);
          margin-bottom: 0;
        }
        .text {
          @include span-columns(7);
        }
        
      }
    }
  }

  @include media ($large-screen) {
    ul.block-list {
      li {
        img {
          @include span-columns(6);
        }
        .text {
          @include span-columns(6);
        }
        
      }
    }
  }
}

section.select-drinks {
  @include outer-container();
  @include pad();
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  .text {
    // @include span-columns(12);
    ul.drinks {
      li.drink {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  img {
    @include span-columns(12);
    // @include shift(1);
    margin-top: $step4;
  }

  @include media ($medium-screen) {
    .text {
      @include span-columns(6);
      
    }
    img {
      @include span-columns(5);
      @include shift(1);
      margin-top: 0;
    }
  }

  @include media ($large-screen) {
    .text {
      @include span-columns(4);
      
    }
    img {
      @include span-columns(7);
      @include shift(1);
    }
  }
}

section.select-events {
  @include outer-container();
  @include pad();
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  
  .heading-box {
    text-align: center;
  }

  ul.events {
    @include row();
  }

  li.event {
    // @include span-columns(12);
    margin-left: auto;
    margin-right: auto;
    
  }
  .section-end {
    text-align: center;
  }

  @include media ($medium-screen) {
    ul.events {
      @include row();
    }

    li.event {
      @include span-columns(6);
      @include pad();
      
    }
  }

  @include media ($large-screen) {
    ul.events {
      @include row();
    }

    li.event {
      @include span-columns(4);
      
    }
  }
}

section.contact {
  @include row();
  @include pad();
  padding-top: 0;
  padding-bottom: $section-padding;
  text-align: center;
  background-image: url("/images/tropical-pattern.jpg");

  .heading-box {
    transform: translateY(-50%);
  }
  a.standalone, p {
    color: $white;
    max-width: 18em;
  }
  .info, .details {
    @include span-columns(12);
    height: auto;
  }
  .info {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    a.standalone {
      // @include remove-vertical-align();
      margin: 0;

      &:hover {
        // color: $blue-shade-1;
        // color: $blue-shade-2;
        color: $dark-grey-shade-1;
      }
    }   
  }
  .details {
    text-align: center;
    float: none;
    p {
      margin: 0;
      margin: 0 auto;
      // @include remove-vertical-align();
    }
  }

  @include media ($medium-screen) {
    a.standalone, p {
      color: $white;
    }
    .info, .details {
      @include span-columns(12);
      height: auto;
    }
    .info {
      margin-bottom: 2rem;
      margin-top: 1rem;
      text-align: center;
      a.standalone {
        @include remove-vertical-align();
        margin: 0;
      }   
    }
    .details {
      text-align: center;
      float: none;
      p {
        margin: 0;
        margin: 0 auto;
        @include remove-vertical-align();
      }
    }
  }

  @include media ($large-screen) {
    a.standalone, p {
      color: $white;
      max-width: 18em;
    }
    .info, .details {
      @include span-columns(6);
      height: 200px;
    }
    .info {
      // float: right;
      text-align: right;
      margin: 0;
      position: relative;
      a.standalone {
        @include vertical-align();
        display: block;
        margin-right: 1em;
        float: right;
      }
      
    }
    .details {
      text-align: left;
      p {
        @include vertical-align();
        margin-left: 1em;
      }
    }
  }
}