<li class="drink">
  <p class="name h3"><%= drink.name %></p>
  <p class="notes h6"><%= drink.short_description %></p>
  <p class="description interface"><%= drink.ingredients %></p>
  <p class="alcohol-volume h6"><%= drink.ounces %> oz</p>        
</li>