<footer>
  <div class="footer-container">
    <div class="logo">
      <span class="svg-logo"></span>
    </div>
    <div class="contact">
      <ul>
        <li>
          <a href="mailto:hello@sugarwater.bar" class="h6">hello@sugarwater.bar</a>
        </li>
        <li>
          <a href="https://www.instagram.com/sugarwater.bar/" class="h6">
            <img src="/images/ig-icon.png" alt="">
            sugarwater.bar
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>