<div id="top-bar-container">
  <div class="top-bar-inner-container">
    <div class="top-bar">
      <div class="logo">
        <span class="svg-logo"></span>
      </div>
      <nav class="nav-collapse">
        <ul class="menu h5">
          <li><a href="#">Services</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>