<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <span class="svg-logo"></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button h4" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/services" class="h5">Services</a></li>
        <li class="nav-link"><a href="/menu" class="h5">Menu</a></li>
        <li class="nav-link"><a href="/events" class="h5">Events</a></li>
        <li class="nav-link"><a href="/about" class="h5">About Us</a></li>
        <li class="nav-link"><a href="#contact" class="h5">Contact</a></li>
      </ul>
    </nav>
  </div>
  <hr id="navHr">
</header>
