---
title: Sugar Water
---
<div class="top-bar-container">
  <div class="top-bar">
    <!-- <img src="http://dummyimage.com/100x50/4d494d/686a82.gif&text=placeholder+image" alt="Sugar+Water"> -->
    <div class="logo">
      <span class="svg-logo"></span>
    </div>

    <ul class="menu label-1">
      <li>Services</li>
      <li>Menu</li>
      <li>Events</li>
      <li>About Us</li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<div class="intro">

  <span class="tagline">
    Thoughtfully crafted <b>drinks</b> in <b>uncommon spaces</b>
  </span>
  <img class="image" src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
</div>

<div class="what">
  <h2>What We Do</h2>
  <ul class="block-list">
    <li>
      <h3>Setup Anywhere</h3>
      <span class="subhead">Nulla venenatis, justo semper luctus sagittis, leo urna.</span>
      <p>
        Ut elit urna, dapibus at nunc in, malesuada hendrerit sem. Vivamus risus sapien, lobortis sit amet mauris.
      </p>
    </li>
    <li>
      <h3>Custom Menu</h3>
      <span class="subhead">
        Phasellus vitae diam consequat, egestas eros.
      </span>
      <p>
        Donec eu vestibulum enim, sed finibus ligula. Proin porta in nisi in lacinia. Fusce at diam eleifend, mollis tellus et, scelerisque lorem. Vivamus sollicitudin.
      </p>
    </li>
    <li>
      <h3>Best Crew</h3>
      <span class="subhead">
        Nulla facilisi. Etiam maximus, purus quis imperdiet.
      </span>
      <p>
        Maecenas a sapien sodales, tristique magna id, dictum libero. Cras ornare nisl ut ex commodo, a faucibus diam accumsan. Proin dignissim, dui.
      </p>
    </li>
  </ul>
</div>

<div class="about">
  <img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
  <h2>What We Do</h2>
  <p>
    Ut et nulla at sem ultrices accumsan eget eu sem. Maecenas tincidunt, lacus non mollis volutpat, augue tortor lobortis massa, id facilisis enim est sed magna. Vivamus tincidunt, lacus non mollis volutpat.
  </p>
  <p>
    In ut libero ullamcorper, egestas magna in, iaculis nulla. Pellentesque pretium dignissim purus ut condimentum.
  </p>
</div>

<div class="events">
  <h2>Events</h2>
  <ul>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non..</span>
    </li>
  </ul>
</div>

<div class="contact">
  <h2>Get in Touch</h2>
  <p>Nunc orci nisi, aliquam ac orci in, bibendum ultricies dolor. Integer convallis mattis enim sed ornare. Aenean mollis elementum ipsum, ac.</p>
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar" %>
  <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
</div>

<footer>
  <img src="http://dummyimage.com/400x50/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar"  %>
  <%= link_to "sugarwater.bar", "https://www.instagram.com/sugarwater.bar/" %>
</footer>