---
title: Sugar Water
---
<div class="top-bar-container">
  <div class="top-bar">
    <!-- <img src="http://dummyimage.com/100x50/4d494d/686a82.gif&text=placeholder+image" alt="Sugar+Water"> -->
    <div class="logo">
      <span class="svg-logo"></span>
    </div>

    <ul class="menu h5">
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>

<section class="intro">

  <span class="tagline">
    Thoughtfully crafted <b>drinks</b> in <b>uncommon spaces</b>
  </span>
  <img class="image" src="images/Grapefruit-bittersweet-large.png" alt="">
</section>

<section class="what">
  <div class="heading-wrapper">
    <h2 class="box">What We Do</h2>
  </div>
  <div class="block-list-wrapper">
    <ul class="block-list">
      <li>
        <img src="images/MC7-Saturday-202 Copy.jpg" alt="">
        <div class="text">
          <h3>Setup Anywhere</h3>
          <div class="subhead label-2">Nulla venenatis, justo semper luctus sagittis, leo urna.</div>
          <p>
            Ut elit urna, dapibus at nunc in, malesuada hendrerit sem. Vivamus risus sapien, lobortis sit amet mauris.
          </p>
        </div>
      </li>
      <li>
        <img src="images/MCxCCCmay2015-081.jpg" alt="">
        <div class="text">
          <h3>Custom Menu</h3>
          <div class="subhead label-2">
            Phasellus vitae diam consequat, egestas eros.
          </div>
          <p>
            Donec eu vestibulum enim, sed finibus ligula. Proin porta in nisi in lacinia. Fusce at diam eleifend, mollis tellus et, scelerisque lorem. Vivamus sollicitudin.
          </p>
        </div>
      </li>
      <li>
        <img src="images/IMG_5109.jpg" alt="">
        <div class="text">
          <h3>Best Crew</h3>
          <div class="subhead label-2">
            Nulla facilisi. Etiam maximus, purus quis imperdiet.
          </div>
          <p>
            Maecenas a sapien sodales, tristique magna id, dictum libero. Cras ornare nisl ut ex commodo, a faucibus diam accumsan. Proin dignissim, dui.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <a class="label-1 more-link" href="#">More on Our Services</a>
</section>

<section class="select-drinks">
  <div class="text">
    <h2 class="box">Drinks</h2>
    <p class="section-intro">We’re always playing and experimenting. Here’s some recent additions to our family of original drinks.</p>
    <ul class="drinks">
      <li class="drink">
        <span class="name">Golden Kumaru</span>
        <span class="notes label-2">Daiquiri, Touch of Almond and Umami</span>
        <p class="description interface">plantation 3 star rum, lime, tonka bean syrup, cured lemon, bitters, thyme</p>
        <span class="alcohol-volume label-2">2 oz</span>        
      </li>
      <li class="drink">
        <span class="name">Port Cup</span>
        <span class="notes label-2">Szechuan spice, smoky orange,  bourbon</span>
        <p class="description interface">plantation 3 star rum, lime, tonka bean syrup, cured lemon, bitters, thyme</p>
        <span class="alcohol-volume label-2">2 oz</span>        
      </li>
    </ul>
    <a class="label-1 more-link" href="#">Check out our menu</a>
  </div>
  <img src="images/kyo-pouring-grenadine.jpg" alt="">
</section>

<section class="select-events">
  <h2 class="box">Events</h2>
  <ul class="events">
    <li class="event">
      <span class="date label-1">Friday, February 3</span>
      <span class="name label-1">Market Collective</span>
      <span class="location label-2">Chinese Cultural Centre</span>
      <span class="time label-2">5pm - 9pm</span>
      <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li class="event">
      <span class="date label-1">Saturday, February 25</span>
      <span class="name label-1">Good Neighbours</span>
      <span class="location label-2">Phil & Sebastian in Mission</span>
      <span class="time label-2">7pm - 11pm</span>
      <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li class="event">
      <span class="date label-1">Friday, February 3</span>
      <span class="name label-1">Market Collective</span>
      <span class="location label-2">Chinese Cultural Centre</span>
      <span class="time label-2">5pm - 9pm</span>
      <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
  </ul>
  <a class="label-1 more-link" href="#">All our upcoming events</a>
</section>

<section class="contact">
  <h2 class="box">Get in Touch</h2>
  <p>Nunc orci nisi, aliquam ac orci in, bibendum ultricies dolor. Integer convallis mattis enim sed ornare. Aenean mollis elementum ipsum, ac.</p>
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar" %>
  <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
</section>

<footer>
  <img src="http://dummyimage.com/400x50/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar"  %>
  <%= link_to "sugarwater.bar", "https://www.instagram.com/sugarwater.bar/" %>
</footer>