---
title: Sugar Water
---
<div class="top-bar-container">
  <div class="top-bar">
    <!-- <img src="http://dummyimage.com/100x50/4d494d/686a82.gif&text=placeholder+image" alt="Sugar+Water"> -->
    <div class="logo">
      <span class="svg-logo"></span>
    </div>

    <ul class="menu label-1">
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>

<section class="intro">

  <span class="tagline">
    Thoughtfully crafted <b>drinks</b> in <b>uncommon spaces</b>
  </span>
  <img class="image" src="images/Grapefruit-bittersweet-large.png" alt="">
</section>

<section class="what">
  <div class="heading-wrapper">
    <h2 class="box">What We Do</h2>
  </div>
  <div class="block-list-wrapper">
    <ul class="block-list">
      <li>
        <img src="images/MC7-Saturday-202 Copy.jpg" alt="">
        <div class="text">
          <h3>Setup Anywhere</h3>
          <div class="subhead label-2">Nulla venenatis, justo semper luctus sagittis, leo urna.</div>
          <p>
            Ut elit urna, dapibus at nunc in, malesuada hendrerit sem. Vivamus risus sapien, lobortis sit amet mauris.
          </p>
        </div>
      </li>
      <li>
        <img src="images/MCxCCCmay2015-081.jpg" alt="">
        <div class="text">
          <h3>Custom Menu</h3>
          <div class="subhead label-2">
            Phasellus vitae diam consequat, egestas eros.
          </div>
          <p>
            Donec eu vestibulum enim, sed finibus ligula. Proin porta in nisi in lacinia. Fusce at diam eleifend, mollis tellus et, scelerisque lorem. Vivamus sollicitudin.
          </p>
        </div>
      </li>
      <li>
        <img src="images/IMG_5109.jpg" alt="">
        <div class="text">
          <h3>Best Crew</h3>
          <div class="subhead label-2">
            Nulla facilisi. Etiam maximus, purus quis imperdiet.
          </div>
          <p>
            Maecenas a sapien sodales, tristique magna id, dictum libero. Cras ornare nisl ut ex commodo, a faucibus diam accumsan. Proin dignissim, dui.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <a class="label-1 more-link" href="#">More on Our Services</a>
</section>

<section class="about">
  <img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
  <h2>What We Do</h2>
  <p>
    Ut et nulla at sem ultrices accumsan eget eu sem. Maecenas tincidunt, lacus non mollis volutpat, augue tortor lobortis massa, id facilisis enim est sed magna. Vivamus tincidunt, lacus non mollis volutpat.
  </p>
  <p>
    In ut libero ullamcorper, egestas magna in, iaculis nulla. Pellentesque pretium dignissim purus ut condimentum.
  </p>
</section>

<section class="events">
  <h2>Events</h2>
  <ul>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Friday, February 3</span>
      <span class="name">Market Collective</span>
      <span class="location">Chinese Cultural Centre</span>
      <span class="time">5pm - 9pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</span>
    </li>
    <li>
      <span class="date">Saturday, February 25</span>
      <span class="name">Good Neighbours</span>
      <span class="location">Phil & Sebastian in Mission</span>
      <span class="time">7pm - 11pm</span>
      <span class="description">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non..</span>
    </li>
  </ul>
</section>

<section class="contact">
  <h2>Get in Touch</h2>
  <p>Nunc orci nisi, aliquam ac orci in, bibendum ultricies dolor. Integer convallis mattis enim sed ornare. Aenean mollis elementum ipsum, ac.</p>
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar" %>
  <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
</section>

<footer>
  <img src="http://dummyimage.com/400x50/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
  <%= link_to "hello@sugarwater.bar", "mailto:hello@sugarwater.bar"  %>
  <%= link_to "sugarwater.bar", "https://www.instagram.com/sugarwater.bar/" %>
</footer>