---
title: Sugar Water Menu
---

<section class="intro">
  <div class="heading-box">
    <h1 class="box h4">
      Selected Menu
    </h1>
  </div>
  <div class="intro-text">
    <p>
      Sed vulputate auctor nunc, vel finibus sapien posuere non. Aliquam erat volutpat. Cras ut varius massa. Phasellus placerat massa rutrum posuere sollicitudin. Phasellus sed orci ac quam aliquam vestibulum ut quis ante. Morbi.
    </p>
  </div>
</section>

<!-- section.agave? -->
<!-- Do I need to implement sorting by drink-type with Dato? -->