---
title: Sugar Water Services
---
<div class="main-content">
  <div class="heading-box">
    <h1 id="services" class="box h4">Services</h1>
  </div>
  <p>
    We focus on the liquid goods. They are at the forefront of everything we do. We are a drawn to the art of cocktailing and have created SWB to share this love. From fashion events to weddings and store openings, SWB can offer an experience that perfectly compliments your event.
  </p>
  <p>
    Our thoughtfully-crafted cocktails are created to treat your guests to drinks that are bright and beautiful. 
  </p>
  <p>
    We offer full and partial services. Our full service offering includes a mobile bar, bar tools, a custom menu and and a variety of glassware to properly display the drinks. We also see ice as an essential ingredient, creating large cubes to uphold the flavours within the cocktail. The fresh ingredients, syrups and tonics that make SWB cocktails enlivening and exceptional are all made in-house.
  </p>
  <p>
    If you are planning a wedding, a corporate party, a store opening, gallery event, or holiday party, please tell us about your event at <a href="" mailto="hello@sugarwater.bar">hello@sugarwater.bar</a>. 
  </p>
  
</div>