---
title: Sugar Water Styleguide
---

<div class="styleguide-container">
  <h1 class="title">Sugar Water Styleguide</h1>
  <div class="sub-title">
    <a href="/" class="back-link standalone h5">Go to homepage</a>
  </div>
  <!-- <section class="intro">
    
  </section> -->
  <section class="typography">
    <h2 class="actual h1">Typography</h2>
    <div class="regular-headings">
      <h3 class="actual">Regular Headings</h3>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <h3 class="actual">Sub-Headings</h3>
      <p class="h4">Sub-Heading 1</p>
      <p class="h5">Sub-Heading 2</p>
      <p class="h6">Sub-Heading 3</p>
    </div>
    <div class="box-headings">
      <h3 class="actual">Box Headings</h3>
      <div class="heading-box"><h1 class="box">Heading 1</h1></div>
      <div class="heading-box"><h2 class="box">Heading 2</h2></div>
      <div class="heading-box"><h3 class="box">Heading 3</h3></div>
      <div class="heading-box"><h4 class="box">Heading 4</h4></div>
      <div class="heading-box"><h5 class="box">Heading 5</h5></div>
      <div class="heading-box"><h6 class="box">Heading 6</h6></div>
    </div>
    <div class="copy">
      <h3 class="actual">Copy</h3>
      <p>
        <em>Proin suscipit nisi sed nisl ornare, id tristique neque facilisis.</em>
      </p>
      <p>
        Mauris nec augue a diam congue imperdiet id ut lorem. Mauris pharetra vitae sapien quis ullamcorper. Vestibulum hendrerit sem a tortor dignissim euismod. Donec a <strong>ligula vitae</strong> erat pharetra euismod. Praesent posuere viverra congue. Curabitur semper <a href="#">porta purus</a>, id venenatis leo vehicula a. Aenean rutrum suscipit nunc vitae tempor. Donec vitae.
      </p>
      <blockquote class="pullquote">
        Donec eu this is a pullquote, sed ligula. Proin porta in nisi in lacinia. Fusce at diam eleifend, mollis tellus et, scelerisque lorem. Vivamus sollicitudin.
      </blockquote>
      <p>
        Aenean euismod efficitur euismod. Nunc fringilla, nibh eu mattis consequat, lorem eros placerat ante, et finibus libero dui a augue. Nulla varius, ipsum at varius elementum, augue lectus viverra urna, accumsan congue elit ante sed odio. Cras.
      </p>
      <a href="#" class="standalone h5">Standalone link (or Call To Action)</a>
    </div>
    <div class="other-copy">
      <h3 class="actual">Tagline</h3>
      <p class="tagline">
        Nulla tagline, <strong>justo semper</strong> luctus sagittis
      </p>
    </div>
  </section>

  <section class="colours">
    <h2 class="actual h1">Colours</h2>
    <ul class="palette">
      <li class="colour c1">
        <div class="swatch"></div>
        <p class="name h4">Dark Grey</p>
        <p class="hex"></p>
        <p class="label h6">Pantone Alternate</p>
        <p class="pantone"></p>
      </li>
      <li class="colour c2">
        <div class="swatch"></div>
        <p class="name h4">Bittersweet</p>
        <p class="hex"></p>
        <p class="label h6">Pantone Alternate</p>
        <p class="pantone"></p>
      </li>
      <li class="colour c3">
        <div class="swatch"></div>
        <p class="name h4">Spanish White</p>
        <p class="hex"></p>
        <p class="label h6">Pantone Alternate</p>
        <p class="pantone"></p>
      </li>
      <li class="colour c4">
        <div class="swatch"></div>
        <p class="name h4">Havelock Blue</p>
        <p class="hex"></p>
        <p class="label h6">Pantone Alternate</p>
        <p class="pantone"></p>
      </li>
    </ul>
  </section>

  <section class="components">
    <h2 class="actual h1">Components</h2>
    <h3 class="actual">Menu</h3>
    <ul class="drinks">
      <li class="drink">
        <p class="name h3">Port Cup</p>
        <p class="notes h6">Like a Pimm's Cup, but deeper</p>
        <p class="description interface">tawny port, strawberry, cucumber, soda</p>
        <p class="alcohol-volume h6">2 oz</p>
      </li>
      <li class="drink">
        <p class="name h3">Mimosa</p>
        <p class="notes h6">Citrus, bubbly, quenching</p>
        <p class="description interface">cava, orange juice, dry curaçao, orange grenadine, grapefruit bitters, blackberry</p>
        <p class="alcohol-volume h6">2 oz</p>
      </li>
      <li class="drink">
        <p class="name h3">Golden Kumaru</p>
        <p class="notes h6">daiquiri, Touch of Almond and Umami</p>
        <p class="description interface">plantation 3 star rum, lime, tonka bean syrup, cured lemon, bitters, thyme</p>
        <p class="alcohol-volume h6">2 oz</p>        
      </li>
      <li class="drink">
        <p class="name h3">Mimosa</p>
        <p class="notes h6">Citrus, bubbly, quenching</p>
        <p class="description interface">cava, orange juice, dry curaçao, orange grenadine, grapefruit bitters, blackberry</p>
        <p class="alcohol-volume h6">2 oz</p>        
      </li>
      <li class="drink">
        <p class="name h3">Golden Kumaru</p>
        <p class="notes h6">daiquiri, Touch of Almond and Umami</p>
        <p class="description interface">plantation 3 star rum, lime, tonka bean syrup, cured lemon, bitters, thyme</p>
        <p class="alcohol-volume h6">2 oz</p>        
      </li>
      <li class="drink">
        <p class="name h3">Port Cup</p>
        <p class="notes h6">Like a Pimm's Cup, but deeper</p>
        <p class="description interface">tawny port, strawberry, cucumber, soda</p>
        <p class="alcohol-volume h6">2 oz</p>        
      </li>
    </ul>

    <h3 class="actual">Events</h3>
    <ul class="events">
      <li class="event">
        <p class="date h5">Friday, February 3</p>
        <p class="name h3">Market Collective</p>
        <p class="location h6"><a href="#" target="_blank">Chinese Cultural Centre</a></p>
        <p class="time h6">5pm - 9pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
      <li class="event">
        <p class="date h5">Saturday, February 25</p>
        <p class="name h3">Good Neighbours</p>
        <p class="location h6"><a href="#" target="_blank">Phil & Sebastian in Mission</a></p>
        <p class="time h6">7pm - 11pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
      <li class="event">
        <p class="date h5">Friday, February 3</p>
        <p class="name h3">Market Collective</p>
        <p class="location h6"><a href="#" target="_blank">Chinese Cultural Centre</a></p>
        <p class="time h6">5pm - 9pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
      <li class="event">
        <p class="date h5">Saturday, February 25</p>
        <p class="name h3">Good Neighbours</p>
        <p class="location h6"><a href="#" target="_blank">Phil & Sebastian in Mission</a></p>
        <p class="time h6">7pm - 11pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
      <li class="event">
        <p class="date h5">Friday, February 3</p>
        <p class="name h3">Market Collective</p>
        <p class="location h6"><a href="#" target="_blank">Chinese Cultural Centre</a></p>
        <p class="time h6">5pm - 9pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
      <li class="event">
        <p class="date h5">Friday, February 3</p>
        <p class="name h3">Market Collective</p>
        <p class="location h6"><a href="#" target="_blank">Chinese Cultural Centre</a></p>
        <p class="time h6">5pm - 9pm</p>
        <p class="description interface">Ut nec fringilla lorem. Sed vitae quam purus. Integer id augue vitae purus finibus vulputate. Curabitur nisl lorem, tincidunt at tortor non.</p>
      </li>
    </ul>
  </section>
</div>